<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Reports</h2>
<h3>Patients</h3>
<ul>
    {% for patient in patients %}
        <li>{{ patient.patient_name }} (Doctor: {{ patient.doctor.doctor_name }}, Room: {{ patient.room.room_number }})</li>
    {% endfor %}
</ul>

<h3>Bills</h3>
<ul>
    {% for bill in bills %}
        <li>{{ bill.patient.patient_name }} - ₹{{ bill.total_amount }} - Paid: {{ bill.paid }}</li>
    {% endfor %}
</ul>

</body>
</html>